/* CSS Document */

body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
    background-color:black;
	font-family: Helvetica, Arial, sans-serif;
	font-size:12px;
}

#container {
	position:relative;
	padding-bottom:80px;   /* centers the comic's content */
	padding-top:10px;
	width:683px; /* CHANGE THIS NUMBER TO MATCH THE WIDTH OF YOUR COMIC! */
	text-align: left;
	margin: 0 auto;
}

h1 {
	font-size:18px; /* sets size of comic page title */
}


